nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    position: relative;

    padding: 0;
    height: 60px;

    & .nav-user, .nav-users {
        font-weight: 700;
        font-size: 22px;

        padding: 6px;
        background: blueviolet;
    }
}