@import "../../styles/variables.scss";

main.app {
    & .user-list {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        overflow-y: scroll;
    }
}










