@import "../../styles/variables.scss";
main.app {
    & .container-user {
        width: 100%;
        margin-bottom: $user-spacing;
        
        & .user {

            & .user-name {
                font-weight: $user-name-font-weight;
            }
        }
    }
}