
/*======================================
    ANCHOR: APP GENERAL
========================================*/

$app-font-size: 14px;
$app-spacing: 0.4rem;

$app-width-users: 325px;
$app-width-chat: calc(100% - 325px);

$app-height-chatbar: 60px;
$app-height-messages: calc(100% - 60px);

$app-bg-main: #121212;
$app-bg-lite-1: #1D1D1D;
$app-bg-lite-2: #212121;
$app-bg-lite-3: #242424;
$app-bg-lite-4: #272727;
$app-bg-lite-5: #2C2C2C;
$app-bg-lite-6: #2D2D2D;
$app-bg-lite-7: #323232;
$app-bg-lite-8: #343434;

$app-font-color: rgba(255,255,255, .87);
$app-font-color-dark: rgba(255,255,255, .60);
$app-font-color-disabled: rgba(255,255,255, .38);
$app-font-color-link: #605aa0;

/*
The Sweetest Chill
#343635 (52,54,53)
#605aa0 (96,90,160)
#8c80c2 (140,128,194)
#c6a9e1 (198,169,225)
#e1ebe2 (225,235,226)
*/

/*======================================
    ANCHOR: TTLE
========================================*/

$title-font-size: 4rem;
$title-font-weight: 800;

$title-color-green: #C3FBF4;
$title-color-blue: #5684AE;
$title-color-black: #000000;

/*
#FFFF14 dodgy-yellow 
#CB0162 sporocystic-deep-pink 
#062E03 battailous-very-dark-green 

#FF6163 smeared-coral-pink
#137E6D midland-blue-green
#CFFDBC uncloistered-very-pale-green


#C3FBF4 annihilating-duck-egg-blue
#5684AE abstemious-off-blue
#000000 divorced-black

#1B2431 blocky-dark
#016795 inhaling-peacock-blue
#1E488F ordained-cobalt

#FFFF14 dodgy-yellow
#CB0162 sporocystic-deep-pink
#062E03 battailous-very-dark-green

#FFFF7E fixative-banana
#8AB8FE subarachnoid-carolina-blue
#665FD1 strobilaceous-dark-periwinkle

/*======================================
    ANCHOR: USER NAMES + USER LIST
========================================*/

$users-title-font-size: 2rem;
$users-title-font-weight: 800;

$users-total-font-size: 0.7rem;
$users-total-font-weight: 400;

$user-spacing: 2px;
$user-name-font-weight: 700;

/*======================================
    ANCHOR: BUTTONS
========================================*/

$button-icon-size: 20px;
$button-height: 40px;
$button-border-radius: 1.3rem;

$button-font-size: 1.2rem;
$button-line-height: 1.5rem;
$button-weight: 500;

/*======================================
    ANCHOR: MESSAGES
========================================*/

$message-padding: 5px;
$message-spacing: 4px;

$message-font-weight: 400;
$message-font-size: 0.9rem;
$message-note-font-size: 0.8rem;
$message-time-font-size: 0.7rem;
$message-caption-font-size: 0.5rem;

$message-image-width: 177px;
$message-image-height: 100px;

/*======================================
    ANCHOR: NAV
========================================*/

$nav-height: 100px;

$nav-color: #FFF;
$nav-bg-color: #000;

$nav-border: 2px solid rgb(150, 17, 177);
$nav-border-radius: 6px;

$nav-font-size: 1rem;
$nav-font-weight: 600;

/*======================================
    ANCHOR: CHAT BAR
========================================*/

$chatbar-width: 100%;
$chatbar-padding: 0.2rem 0.6rem;

$chatbar-color: #000;
$chatbar-bg-color: #FFF;

$chatbar-border: 1px solid #000;
$chatbar-border-radius: 6px;

$chatbar-font-size: 1.4rem;
$chatbar-font-weight: 500;
$chatbar-line-height: 1rem;

/*======================================
    ANCHOR: MODAL CLOSE BUTTONS
========================================*/

$close-color: #000;
$close-font-size: 1rem;
$close-font-weight: 600;
$close-position-top: 12px;
$close-position-right: 22px;
$close-border-radius: 25px;

/*======================================
    ANCHOR: ANIMATIONS
========================================*/

$animation-time__minor: 200ms;

$transition__all: all $animation-time__minor ease 0ms;
$transition__opacity: opacity $animation-time__minor ease-in 0ms;
$transition__border: border $animation-time__minor ease-in 0ms;