@import "../../styles/variables.scss";

main.app {
    & .container-chatbar {
        width: 100%;
        height: $app-height-chatbar;
    }

    .chatbar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        width: $chatbar-width;
        height: 100%;

        & .chatbar-input {
            width: 100%;

            color: $chatbar-color;
            background-color: $chatbar-bg-color;

            border: $chatbar-border;
            border-radius: $chatbar-border-radius;

            font-size: $chatbar-font-size;
            font-weight: $chatbar-font-weight;

            line-height: $chatbar-line-height;
            padding: $chatbar-padding;
        }
    }
}