
body {
    background: #aec6cf;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 70px 0;
}

.message {
    padding: 5px;
}

.message.system {
    font-style: italic;
    padding: 5px 20px;
}

.message-content,
.message-username {
    overflow: hidden;
    overflow-wrap: break-word;
    margin: 5px;
    padding: 0 10px;
}

.message-content {

}

.message-time {
    float: right;
    margin-right: 20px;
}

#images {
    max-width: 450px;
    max-height: 250px;
}

.message-username {
    font-weight: 700;
    color: black;
}

/*======================================
    COLORS
========================================*/

#rebeccapurple{
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

#orange {
    background-color: orange;
    border-color: orange;
}

#maroon {
    background-color: maroon;
    border-color: maroon;
}

#orangered {
    background-color: orangered;
    border-color: orangered;
}

#royalblue {
    background-color: royalblue;
    border-color: royalblue;
}

#lightseagreen {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

#darkgoldenrod {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

#gold {
    background-color: gold;
    border-color: gold;
}

#lawngreen {
    background-color: lawngreen;
    border-color: lawngreen;
}

#darkgreen {
    background-color: darkgreen;
    border-color: darkgreen;
}

#saddlebrown {
    background-color: saddlebrown;
    border-color: saddlebrown;
}
