@import "../styles/variables.scss";


html, body,
main.app {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: $app-font-size;
}

main.app {
    padding: $app-spacing;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    & .container-lists {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
}


/*======================================
    GENERAL ELEMENTS
========================================*/

.close {
    position: absolute;
    top: $close-position-top;
    right: $close-position-right;
    font-size: $close-font-size;
    font-weight: $close-font-weight;
    transform: rotate(45deg);
    border-radius: $close-border-radius;
    background-color: $close-color;
    border-color: $close-color;
}



