@import "../../styles/variables.scss";
main.app {
    & .container-nav {
        position: relative;
        width: 100%;
        height: $nav-height;

        & .container-title {
            position: fixed;
            top: $app-spacing;
            left: $app-spacing;
    
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
    
            width: 100%;
    
            & .app-title {
                font-size: $title-font-size;
                font-weight: $title-font-weight;
            }

            // $title-color-green: #C3FBF4;
            // $title-color-blue: #5684AE;
            // $title-color-black: #000000;
        }

        nav {
            position: fixed;
            top: $app-spacing;
            right: $app-spacing;

            padding: 0;
            margin: 0;
        
            & .nav-user {
                font-size: $nav-font-size;
                font-weight: $nav-font-weight;
        
                border:$nav-border;
                border-radius: $nav-border-radius;
        
                color: $nav-color;
                background-color: $nav-bg-color;
            }
        }
    }
}