@import "../../styles/variables.scss";

main.app {
    & .container-message {
        padding: $message-padding;
        width: 100%;

        & .message.notification {
            font-style: italic;
        }

        & .message {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;

            color: $message-color;
            font-size: $message-font-size;

            & span {
                margin-right: $message-spacing;
            }

            & .message-content {
                font-weight: $message-font-weight;
            }
            
            & .message-name {
                font-weight: $user-name-font-weight;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
    
            & .message-time {
                font-size: $message-time-font-size;
            }
    
            & .message-text {
                font-size: 1rem;
                font-weight: 400;
            }
    
            & .message-image-container {
                width: $message-image-width;
                height: $message-image-height;

                & .message-image {
                    transform: scale(1);
                }
        
                & .image-caption {
                    font-size: $message-caption-font-size;
                }
            }
        }
    }
}