@import "../../styles/variables.scss";

main.app {
    & .container-message {
        padding: 5px;
        width: 100%;

        & .message {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: flex-start;
        }

        & .message.notification {
            font-style: italic;
        }

        & .message-content, .message-username {
            overflow: hidden;
            overflow-wrap: break-word;
        }

        & .message-content {

        }
        
        & .message-username {
            font-weight: 700;
            color: #000;
        }
    }
}










